---

import CardCaseStudy from './CardCaseStudy.astro'

const { title, caseStudies } = Astro.props

---

<section class="bs-container bs-mt-lg" id="case-studies">

  <!-- Header -->
  { title && <h2 class="bs-h2 text-center md:text-left">{ title }</h2> }

  <!-- Case Study 1 -->
  <div class="bs-mt-md">

    <CardCaseStudy caseStudy={ caseStudies[0] } />

  </div>

  <!-- Case studies -->
  <div class="mt-8 grid lg:grid-cols-2 gap-8">

    <CardCaseStudy caseStudy={ caseStudies[1] } />
    <CardCaseStudy caseStudy={ caseStudies[2] } />

  </div>

</section>

