---

const { id, title } = Astro.props

---

<dialog id={ id } class="fixed inset-0 bg-bs-surface-0 m-auto z-50 p-8 md:p-12 rounded-xl w-full max-w-[95%] md:max-w-lg">

  <!-- Form -->
  <form method="dialog" class="flex gap-6 flex-col">

    <!-- Header -->
    <h2 class="bs-h3 flex justify-between items-center gap-4">

      <span>{ title }</span>

      <button onclick="this.closest('dialog').close('close')" aria-label="Close"
        class="bs-btn rounded-full !p-0 flex items-center justify-center h-10 w-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="scale-75 opacity-75" width="32" height="32"
          viewBox="0 0 24 24">
          <path fill="currentColor"
            d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z" />
        </svg>
      </button>

    </h2>

    <!-- Content Slot -->
    <slot />

  </form>

</dialog>

<style>

html:has(dialog[open]) {
  overflow: hidden;
  backdrop-filter: blur(0);
  scrollbar-gutter: stable;
}

dialog[open]::backdrop {
  backdrop-filter: blur(50px);
}

@keyframes scale-up {

  to {
    translate: 0 0;
    scale: 1;
  }

}

@media (prefers-reduced-motion: no-preference) {

  dialog {
    translate: 0 2rem;
    scale: .8
  }

  dialog[open] {
    animation: scale-up forwards 1s;
    animation-timing-function: var(--ease-bs-spring);
  }

}


</style>