---

import Image from "astro/components/Image.astro"
import hero_screens from "../assets/theme-images/hero-screens.png"

const { settings, title, content } = Astro.props

---

<section class="bs-container py-6 flex flex-col lg:flex-row items-center">

  <!-- Content -->
  <div class="flex flex-col gap-6 lg:max-w-lg w-full py-16">

    <!-- Title -->
    <h1 class="bs-h1" set:html={ title } />

    <!-- Content -->
    <div class="bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-bs-foreground-dark" set:html={ content } />

    <!-- CTA -->
    <button type="button" class="bs-btn self-start bs-mt-sm" onclick="demo.showModal()">
      { settings.demo.cta }
    </button>

  </div>

  <!-- Image -->
  <figure class="flex place-content-center -mt-20 lg:mt-0">

    <Image src={ hero_screens } format="avif" quality="high" alt="Screens showing phone, tablet and desktop views of our website" loading="eager" />

  </figure>

</section>
